<configuration>
  <packageSources>
    <add key="MyGet for GuildfordBC" value="https://www.myget.org/F/guildford-bc/" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="MyGet for GuildfordBC" value="https://www.myget.org/F/guildford-bc/" />
  </activePackageSource>
</configuration>
