@using System.Web.Http
@using GuildfordBoroughCouncil.Address.Api.Areas.HelpPage.ModelDescriptions
@model ModelDescription
@{
    ViewBag.Title = Model.Name;
}

<p>@Model.Documentation</p>
<section class="content-wrapper main-content clear-fix">
    @Html.DisplayFor(m => Model)
</section>